# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

API Doc

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode